/* lato-regular - latin */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400; }
body {
  background: #e4e4e4;
  font-family: 'Montserrat';
  letter-spacing: .5px; }

.content {
  position: relative; }

.panel {
  position: fixed;
  left: -15.625em;
  /*left or right and the width of your navigation panel*/
  width: 15.625em;
  /*should match the above value*/
  z-index: 300;
  background: #e9c046; }
  .panel .nav-links {
    padding-top: 30px;
    list-style: none;
    line-height: 40px; }
    .panel .nav-links li {
      padding: 0 10px; }
      .panel .nav-links li a {
        color: #fff;
        font-size: 18px; }

.mobileNavigator {
  line-height: 47px;
  color: white;
  font-size: 30px;
  text-align: right;
  display: none; }

a {
  text-decoration: none !important;
  font-family: 'Montserrat';
  font-weight: lighter; }

h1, h2, h3 {
  line-height: 1.2; }

h3 {
  font-size: 35px; }

.header {
  background: no-repeat url("../img/banner.jpg");
  position: relative;
  background-size: 100% 100%; }
  .header:after {
    content: "";
    background-color: rgba(16, 135, 133, 0.75);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    position: absolute; }
  .header #banner {
    vertical-align: top;
    width: 100%;
    opacity: 0; }
  .header .wrapper {
    position: relative;
    top: 0;
    width: 100%;
    padding: 0 90px;
    height: 100%;
    z-index: 1; }
    .header .wrapper .content {
      text-align: center;
      color: #fff;
      padding: 200px 0; }
      .header .wrapper .content h1 {
        font-size: 50px; }
      .header .wrapper .content h2 {
        margin-top: 62px;
        font-size: 18px; }
      .header .wrapper .content .btn-yellow {
        margin: 80px 0; }
      .header .wrapper .content #down-arrow {
        display: block; }
        .header .wrapper .content #down-arrow img {
          width: 26px; }
  .header .nav-bar {
    display: inline-block;
    transition: all 0.5s ease;
    width: 100%;
    position: fixed;
    padding: 54px 90px;
    z-index: 100; 
    font-size: 18px;}
    .header .nav-bar .nav-logo {
      display: inline-block; }
      .header .nav-bar .nav-logo span {
        color: white;
        font-size: 1.2em; }
      .header .nav-bar .nav-logo .logo {
        height: 47px; }
    .header .nav-bar .nav-links {
      float: right;
      list-style: none;
      line-height: 47px; }
      .header .nav-bar .nav-links li {
        display: inline;
        padding: 0 10px; }
        .header .nav-bar .nav-links li a {
          color: #fff;
          font-size: 18px; }
        .header .nav-bar .nav-links li .nav-join {
          color: #e9c046;
          border: 2px solid #e9c046;
          border-radius: 15px;
          padding: 15px 20px; }
    .header .nav-bar .menu-link {
      display: inline-block;
      float: right; }
  .header .navbar-fixed {
    padding: 10px 90px;
    transition: all 0.5s ease;
    z-index: 100;
    background: rgba(70, 160, 160, 0.9);
    position: fixed;
    width: 100%; }

.btn-yellow {
  color: #fff;
  background: #e9c046;
  padding: 15px 20px;
  border-radius: 20px;
  display: inline-block;
  text-transform: uppercase;
  font-size: normalBtnFontsize;
  letter-spacing: 1px;
  font-weight: normal; }

.retirement {
  display: -webkit-flex;
  display: flex; }
  .retirement img {
    flex: 1;
    -webkit-flex: 1;
    /* Safari 6.1+ */
    -ms-flex: 1;
    /* IE 10 */ }

.sub-section {
  flex: 1;
  -webkit-flex: 1;
  /* Safari 6.1+ */
  -ms-flex: 1;
  /* IE 10 */
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center; }

.security {
  position: relative; }
  .security img {
    width: 100%; }
  .security .description {
    position: absolute;
    top: 98px; }
    .security .description h3, .security .description p {
      color: #fff; }

.description {
  padding: 0 90px; }
  .description h3 {
    color: #4d4d4d; }
  .description p {
    margin: 22px 0;
    font-size: 18px;
    color: #4d4d4d; }

.gallery .wrapper {
  padding: 25px 150px;
  text-align: center; }
  .gallery .wrapper h3 {
    margin: 0 0 25px;
    color: #4d4d4d; }
  .gallery .wrapper p {
    margin: 25px 0;
    color: #4d4d4d;
    font-size: 18px; }
    .gallery .wrapper p .light {
      color: #4d4d4d; }
  .gallery .wrapper .carousel .carousel-inner {
    display: flex;
    justify-content: center;
    max-width: 400px;
    width: auto;
    height: auto;
    margin: auto; }
  .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    height: auto; 
    width: auto; 
    max-height: 400px;
  }
  .gallery .wrapper .carousel .carousel-control {
    background: none; }
    .gallery .wrapper .carousel .carousel-control img {
      position: absolute;
      top: 50%;
      width: 55px; }
    .gallery .wrapper .carousel .carousel-control.left {
      text-align: left; }
      .gallery .wrapper .carousel .carousel-control.left img {
        transform: translate(0, -50%); }
    .gallery .wrapper .carousel .carousel-control.right {
      text-align: right; }
      .gallery .wrapper .carousel .carousel-control.right img {
        transform: translate(-100%, -50%); }

.community {
  display: -webkit-flex;
  display: flex; }
  .community .sub-section {
    background: #bf4931; }
    .community .sub-section h3, .community .sub-section p {
      color: #fff; }

.connect {
  text-align: center;
  padding: 120px 0;
  color: #4d4d4d; }
  .connect ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #666666;
    font-size: 20px; }
  .connect ::-moz-placeholder {
    /* Firefox 19+ */
    color: #666666;
    font-size: 20px; }
  .connect :-ms-input-placeholder {
    /* IE 10+ */
    color: #666666;
    font-size: 20px; }
  .connect :-moz-placeholder {
    /* Firefox 18- */
    color: #666666;
    font-size: 20px; }
  .connect h4 {
    font-size: 24px;
    font-weight: bold; }
  .connect p {
    margin: 29px 0 55px;
    font-size: 18px; }
  .connect .input-group {
    margin: 20px auto;
    width: 515px; }
  .connect input {
    float: left; }
    .connect input.btn {
      -webkit-user-select: initial; }
      .connect input.btn.btn-lg, .connect input.btn.btn-lg:focus {
        outline: none;
        width: 75%;
        height: 60px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        text-align: left; }
  .connect button.btn {
    width: 25%;
    height: 60px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #e9c046;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px; }
  .connect .btn-lg {
    border-radius: 15px; }

.footer {
  background: #fff;
  position: relative; }
  .footer .bg-logo {
    width: 117px;
    position: absolute;
    transform: translate(0, calc(-50%));
    margin: 0 90px; }
  .footer .wrapper {
    display: inline-block;
    width: 100%;
    padding: 60px 90px 50px; }
    .footer .wrapper ul {
      list-style: none;
      padding: 0; }
      .footer .wrapper ul a {
        color: #559897;
        font-size: 15px;
        line-height: 2; }
  .footer .copyright {
    background: #f2f2f2;
    padding: 30px 0;
    text-align: center;
    color: #808080;
    font-size: 12px; }

.section-image {
  flex: 1;
  -webkit-flex: 1;
  /* Safari 6.1+ */
  -ms-flex: 1;
  /* IE 10 */ }
  .section-image img {
    width: 100%; }

@media only screen and (max-width: 992px) {
  .mobileNavigator {
    display: block; }

  .header {
    background-size: auto 130%; }
    .header .nav-bar {
      padding: 30px; }
      .header .nav-bar .nav-links {
        display: none; }
    .header .wrapper .content {
      padding: 150px 0 80px; }
      .header .wrapper .content h1 {
        font-size: 35px; }
      .header .wrapper .content h2 {
        margin-top: 25px;
        font-size: 15px; }
      .header .wrapper .content .btn-yellow {
        margin: 30px; }

  h3 {
    font-size: 25px; }

  .description {
    padding: 0 30px; }
    .description p {
      font-size: 18px;
      margin: 20px 0 40px; }

  .gallery .wrapper {
    padding: 50px;
    padding: 30px; }
    .gallery .wrapper h3 {
      margin-bottom: 30px; }
    .gallery .wrapper p {
      margin: 20px 0 40px;
      font-size: 15px; }
    .gallery .wrapper .carousel .carousel-control {
      width: 10%; }
      .gallery .wrapper .carousel .carousel-control img {
        width: 70%; }
    .gallery .wrapper .carousel .carousel-inner {
      width: 80%; }

  .connect {
    padding: 50px 0; }
    .connect p {
      margin: 20px 0 40px;
      font-size: 15px; }
    .connect h4 {
      font-size: 18px; }
    .connect ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      font-size: 12px; }
    .connect ::-moz-placeholder {
      /* Firefox 19+ */
      font-size: 12px; }
    .connect :-ms-input-placeholder {
      /* IE 10+ */
      font-size: 12px; }
    .connect :-moz-placeholder {
      /* Firefox 18- */
      font-size: 12px; }
    .connect .input-group {
      width: 400px; }
    .connect .btn-lg {
      font-size: 12px;
      height: 40px !important; }

  .footer .bg-logo {
    margin: 0 30px;
    width: 80px; }
  .footer .wrapper {
    padding: 60px 20px; }
    .footer .wrapper ul li {
      display: block; }

  .btn-yellow {
    font-size: 12px; } }
@media only screen and (max-width: 700px) {
  .header {
    background-position: center; }
    .header .wrapper {
      padding: 30px;
      position: relative; }
      .header .wrapper .content {
        padding: 100px 0 50px;
        transform: initial; }
        .header .wrapper .content br {
          display: none; }
        .header .wrapper .content h1 {
          font-size: 40px; }
        .header .wrapper .content h2 {
          margin-top: 25px;
          font-size: 16px; }
        .header .wrapper .content .btn-yellow {
          margin: 30px; }

  .community, .retirement {
    display: initial; }

  .security {
    display: inline-block;
    background: url("../img/security.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; }
    .security img {
      display: none; }
    .security .description {
      position: relative;
      top: 0; }

  .description {
    padding: 30px;
    text-align: center; }

  .gallery .wrapper h3 {
    margin-bottom: 50px; }
  .gallery .wrapper p {
    margin: 20px 30px; }

  .connect {
    padding: 50px 30px; }
    .connect .input-group {
      width: 100%; }
    .connect .btn-lg {
      padding: 5px; }

  .footer .wrapper {
    text-align: center;
    padding: 60px 30px; } }