/* lato-regular - latin */
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Gotham-Rounded/Gotham-Rounded-Book/GothamRnd-Book.otf') format('truetype');
}
