@import "font";

$mediumFontSize: 23px;

$bodyBackground: #e4e4e4;
$white: #fff;
$orange: #e9c046;
$darkred: #bf4931;
$footerTextColor: #559897;
$headerTextColor: #4d4d4d;
$subTextColor: #666666;
$subTextLightColor: #4d4d4d;
$copyrightBackColor: #f2f2f2;
$copyrightTextColor: #808080;

body {
	background: $bodyBackground;
	font-family: 'Gotham';
}



a {
	text-decoration: none !important;
	font-family: 'Gotham';
	font-weight: lighter;
}

h1, h2, h3 {
	line-height: 1.2;
}

.header {
	background: no-repeat url('../imgs/banner.jpg') 50%/100%;
	position: relative;

	&:after {
		content: "";
		background-color: rgba(16,135,133,0.75);
		top: 0;
	  	left: 0;
	  	bottom: 0;
	  	right: 0;
	  	display: block;
	  	position: absolute;
	}

	#banner {
		vertical-align: top;
		width: 100%;
		opacity: 0;
	}

	.wrapper {
		position: absolute;
		top: 0;
		width: 100%;
		padding: 60px 120px;
		height: 100%;
		z-index: 1;
	}

	.nav-bar {
		display: inline-block;
		transition: all 0.5s ease;
		width: 100%;
		position: fixed;
		padding: 60px 120px;
		z-index: 100;

		.logo {
			height: 57px;
			float: left;
		}

		.nav-links {
			float: right;
			list-style: none;
			line-height: 57px;

			li {
				display: inline;
				padding: 0 20px;

				a {
					color: $white;
					font-size: $mediumFontSize;
				}

				#join {
					color: $orange;
					border: 2px solid $orange;
					border-radius: 15px;
					padding: 15px 20px;
				}						
			}
		}
	}

	.navbar-fixed {
		padding: 10px 120px;
		transition: all 0.5s ease;
		z-index: 100;
		background: rgba(70,160,160,0.9);
		position: fixed;
	    width: 100%;
	}

	.content {
		text-align: center;
		padding-top: 250px;
		color: $white;

		h1 {
			font-size: 62px;
		}

		h3 {
			margin-top: 80px;
			font-size: $mediumFontSize;
		}

		.btn-yellow {
			margin: 80px 0;
		}

		#down-arrow {
			display: block;

			img {
				width: 31px;
			}
		}
	}
}

.btn-yellow {
	color: $white;
	background: $orange;
	padding: 15px 20px;
	border-radius: 20px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 19px;
	letter-spacing: 1px;
	font-weight: bold;
}

.retirement {
	display: -webkit-flex;
    display: flex;

	img {
		flex: 1;
		-webkit-flex: 1; /* Safari 6.1+ */
	    -ms-flex: 1; /* IE 10 */ 
	}
}

.sub-section {
	flex: 1;
	-webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */ 
	display: -webkit-flex;
    display: flex;
	align-items: center;
	justify-content: center;
}

.security {
	position: relative;

	img {
		width: 100%;
	}

	.description {
		position: absolute;
		top: 120px;

		h2, p {
			color: #fff;
		}
	}
}

.description {
	padding: 0 120px;

	h2{
		font-size: 43px;
		color: $headerTextColor;
	}

	p {
		margin: 40px 0 30px;
		font-size: 22px;
		color: $subTextColor;
	}
}

.gallery {
	.wrapper{
		padding: 145px 150px;
		text-align: center;

		h2 {
			margin-bottom: 95px;
			color: $headerTextColor;
			font-size: 45px;
		}

		p {
			margin:39px 0 67px;
			color: $subTextColor;
			font-size: 22px;
			.light {
				color: $subTextLightColor;
			}
		}

		.carousel {
			.carousel-inner {
				width: 70%;
				margin: auto;
			}

			.carousel-control {
				background: none;

				img {
					position: absolute;
					top: 50%;
					width: 65px;
				}

				&.left {
					text-align: left;

					img {
						transform: translate(0, -50%);
					}
				}

				&.right {
					text-align: right;

					img {
						transform: translate(-100%, -50%);
					}
				}
			}
		}
	}
}

.community {
	display: -webkit-flex;
    display: flex;

	.sub-section {
		background: $darkred;

		h2, p {
			color: $white;
		}
	}
}

.connect {
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: $subTextColor;
		font-size: 20px;
	}
	::-moz-placeholder { /* Firefox 19+ */
		color: $subTextColor;
		font-size: 20px;
	}
	:-ms-input-placeholder { /* IE 10+ */
		color: $subTextColor;
		font-size: 20px;
	}
	:-moz-placeholder { /* Firefox 18- */
		color: $subTextColor;
		font-size: 20px;
	}

	text-align: center;
	padding: 148px 0;
	color: $headerTextColor;

	h3 {
		font-size: 32px;
		font-weight: bold;
	}

	p {
		margin: 28px 0 48px;
		font-size: $mediumFontSize;
	}

	.input-group {
	    margin: 20px auto;
	    width: 515px;
	}

	input {
		float: left;

		&.btn {
			-webkit-user-select: initial;
			&.btn-lg, &.btn-lg:focus {
				outline: none;
			    width: 75%;
			    height: 60px;
			    border-top-right-radius: 0;
			    border-bottom-right-radius: 0;	
			    text-align: left;
			}
		}
	}

	button {
		&.btn {
			width: 25%;
		    height: 60px;
		    border-top-left-radius: 0;
		    border-bottom-left-radius: 0;
		    background: $orange;
		    color: $white;
		    text-transform: uppercase;
		    font-weight: bold;
		    letter-spacing: 2px;
		}
	}

	.btn-lg {
		border-radius: 15px;
	}
}

.footer {
	background: $white;
	position: relative;

	.bg-logo {
		width: 143px;
		position: absolute;
		transform: translate(0, calc(-50%));
		margin: 0 120px;
	}

	.wrapper {
		display: inline-block;
		width: 100%;
		padding: 80px 120px 160px;

		ul {
			list-style: none;
			padding: 0;

			a {
				color: $footerTextColor;
				font-size: 20px;
				line-height: 2;

				i {
					padding: 0 10px;
				}
			}
		}
	}

	.copyright {
		background: $copyrightBackColor;
		padding: 37px 0;
		text-align: center;
		color: $copyrightTextColor;
		font-size: 14px;
	}
}

.section-image {
	flex: 1;
	-webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */ 

    img {
    	width: 100%;
    }
}