@import "font";

$bodyBackground: #e4e4e4;
$white: #fff;

// HoneyCo Colors
$yellow: #FFD34C;
$orange: #DB9F33;
$cream: #FDFAD9;
$darkred: #bf4931;
$bluegreen: #165d63;
$blue: #4DA29F;
$grey: #5D5E5E;

// Alternate colors
$footerTextColor: #559897;
$headerTextColor: #4d4d4d;
$subTextColor: #4d4d4d;
$subTextLightColor: #4d4d4d;
$copyrightBackColor: #f2f2f2;
$copyrightTextColor: #808080;

$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$normalGutter: 90px;
$mobileGutter: 30px;

$normalHeaderFontsize: 50px;
$ipadHeaderFontsize: 40px;
$mobileHeaderFontsize: 35px;
$normalBodyFontsize: 18px;
$ipadBodyFontsize: 18px;
$mobileBodyFontsize: 18px;
$normalDescFontsize: 18px;
$mobileDescFontsize: 18px;
$normal-h3: 35px;
$mobile-h3: 25px;
$normalBtnFontsize: 14px;
$mobileBtnFontsize: 12px;

$securityHeight: 97vh;
$societyHeight: 97vh;

body {
  background: $bodyBackground;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .5px;
}

.content {
  position: relative;
}

.panel {
  position: fixed;
  left: -15.625em; /*left or right and the width of your navigation panel*/
  width: 15.625em; /*should match the above value*/
  z-index: 300;
  background: $orange;
  .nav-links {
    padding-top: 30px;
    list-style: none;
    line-height: 40px;
    li {
      padding: 0 10px;
      a {
        color: $white;
        font-size: $normalBodyFontsize;
      }
    }
  }
}

a {
  color: $white;
  font-weight: lighter;
  text-decoration: none !important;
  &:hover {
    color: $white;
    text-decoration: none;
  }
  &:visited {
    color: $white;
  }
  &:active {
    color: $white;
  }
  &:focus {
    color: $white;
  }
}

h1, h2, h3, h4 {
  line-height: 1.2;
}

h3 {
  font-size: $normal-h3;
}

.nav-bar {
  border-radius: 0;
  padding: 54px $normalGutter;
  position: fixed;
  transition: all 0.5s ease;
  width: 100%;
  z-index: 100;
  .nav-logo {
    margin-right: 4vw;
    img {
      height: 47px;
    }
    span {
      color: $white;
      font-size: 16px;
    }
  }
}

.navbar-scrolled {
  background: rgba(70, 160, 160, 0.9);
  padding: 10px $normalGutter;
  position: fixed;
  transition: all 0.5s ease;
  width: 100%;
  z-index: 100;
}

.header {
  position: relative;
  background-size: cover;
  background: url('../img/banner.jpg') no-repeat center top;

  &:after {
    content: "";
    background-color: rgba(16, 135, 133, 0.75);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    position: absolute;
  }

  .wrapper {
    position: relative;
    top: 0;
    width: 100%;
    padding: 0 $normalGutter;
    height: 100%;
    z-index: 1;
    .content {
      text-align: center;
      color: $white;
      padding: 200px 0;

      h1 {
        font-size: 50px;
      }

      h2 {
        margin-top: 62px;
        font-size: $normalBodyFontsize;
      }

      .btn-yellow {
        margin: 75px 0;
      }

      #down-arrow {
        display: block;
        // If you add a button back into the header, remove this margin.
        margin: 75px 0 30px;

        img {
          width: 55px;
        }
      }
    }
  }
}

.btn-yellow {
  color: $white;
  background: $yellow;
  padding: 15px 20px;
  border-radius: 20px;
  display: inline-block;
  text-transform: uppercase;
  font-size: $normalBtnFontsize;
  letter-spacing: 1px;
  font-weight: normal;
}

.split-section {
  color: $headerTextColor;
  .image {
    margin: 0;
    background-size: cover;
  }
  .text {
    display: table;
    padding: 20vh 45px;
    .inner {

      vertical-align: middle;
      p {
        margin: 20px auto;
      }
      .btn-yellow {
        margin-top: 15px;
        margin-left: -10px;
      }
    }
  }
}

.retirement {
  .image {
    background-image: url("../img/retirement.jpg");
    background-position: right top;
  }
}

.security {
  background: no-repeat url("../img/security.jpg") top left;
  background-size: cover;
  margin: 0 -15px;
  min-width: 100%;
  .text {
    background: transparent;
    color: $white;
  }
}

.technology {
  margin: 0 -15px;
  min-width: 100vw;
  background-color: $blue;
  .text {
    padding: 10vh 45px;
    color: $white;
  }

}

.technology-image {
  min-width: 100vw;
  div {
    padding: 0;
  }
  img {
    width: 100vw;
    min-height: 20vh;
    margin: 0 auto;
    display: block;
  }
}

.community {
  background-color: $darkred;
  .image {
    background-image: url("../img/community.jpg");
    background-position: center center;
  }
  .text {
    color: $white;
  }
}

.connect {
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $subTextColor;
    font-size: 20px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $subTextColor;
    font-size: 20px;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $subTextColor;
    font-size: 20px;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $subTextColor;
    font-size: 20px;
  }

  text-align: center;
  padding: 120px 0;
  color: $headerTextColor;

  h4 {
    font-size: 24px;
    font-weight: bold;
  }

  p {
    margin: 29px 0 55px;
    font-size: $normalBodyFontsize;
  }

  .input-group {
    margin: 20px auto;
    width: 515px;
  }

  input {
    float: left;

    &.btn {
      -webkit-user-select: initial;
      &.btn-lg, &.btn-lg:focus {
        outline: none;
        width: 75%;
        height: 60px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        text-align: left;
      }
    }
  }

  button {
    &.btn {
      width: 25%;
      height: 60px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background: $yellow;
      color: $white;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
    }
  }

  .btn-lg {
    border-radius: 15px;
  }
}

.footer {
  background: $white;
  position: relative;

  .bg-logo-split {
    width: 117px;
    position: absolute;
    transform: translate(0, calc(-50%));
    margin: 0 $normalGutter;
  }

  .wrapper {
    display: inline-block;
    width: 100%;
    padding: 60px 0 50px;

    ul {
      list-style: none;
      padding: 0;
      li {
        padding-left: 1.28571429em;
        text-indent: -1.28571429em;
      }
      a {
        color: $footerTextColor;
        font-size: 15px;
        line-height: 2;
      }
    }
  }

  .copyright {
    background: $copyrightBackColor;
    padding: 30px 0;
    text-align: center;
    color: $copyrightTextColor;
    font-size: 12px;
  }
}

@media only screen and (max-width: $screen-md) {
  // Before we hit $screen-md width, use the slideout navbar/Menu button
  .nav-bar {
    padding: $mobileGutter;
  }
  .header {
    background-size: auto 130%;
    .wrapper {
      .content {
        padding: 150px 0 80px;
        h1 {
          font-size: $mobileHeaderFontsize;
        }
        h2 {
          margin-top: 25px;
          font-size: $mobileBodyFontsize;
        }
        .btn-yellow {
          margin: 30px;
        }
      }
    }
  }
  // split section headers are a bit smaller for smaller screens
  h3 {
    font-size: $mobile-h3;
  }
  .split-section {
    .text {
      padding: 10vh 45px;
    }
  }
  // contact form needs to be tightened up on smaller screens
  .connect {
    p {
      margin: 20px 0 40px;
      font-size: $mobileBodyFontsize;
    }
    h4 {
      font-size: 18px;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-size: 12px;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      font-size: 12px;
    }
    :-ms-input-placeholder { /* IE 10+ */
      font-size: 12px;
    }
    :-moz-placeholder { /* Firefox 18- */
      font-size: 12px;
    }
    .input-group {
      width: 400px;
    }
    .btn-lg {
      font-size: 12px;
      height: 40px !important;
    }
  }
}

@media only screen and (max-width: $screen-xs) {
  // header gets even smaller on smaller screens
  .header {
    background-position: center;
    .wrapper {
      padding: $mobileGutter;
      .content {
        padding: 100px 0 50px;
      }
    }
  }
  .technology-image {
    display: none;
  }
  // contact form gets a bit smaller still
  .connect {
    .input-group {
      width: 100%;
    }
    .btn-lg {
      padding: 5px;
    }
  }
  // footer becomes 1 column at this screen size
  .footer {
    .bg-logo-split {
      left:0;
      right: 0;
      margin: 0 auto;
    }
    .wrapper {
      text-align: center;
      padding: 90px $mobileGutter 60px;
    }
  }
}

// when in two column display, we want equal row height
@media only screen and (min-width: 768px) {
  .row {
    display: table;
  }
  .row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
  }
}